html { background: #fff repeat 0 0; }
body { font: 1em/1.5 Verdana, sans-serif; color: #2a3333; padding-top:6.5em; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 0.5em 0; font-size: 1.5em; }
h1 strong{ display:block;font-size:0.8em;}
h1 { font-size: 1.5em; margin-top: 0; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }
a:link, a:focus, a:visited { color: #008595; text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin: 0 0 1em; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

header { position:fixed; top:0; z-index:99999; width:100%; color:#fff; padding:1em; margin-bottom:2em; }
footer { color:#ccc; padding:1.5em 0; }
footer a:link, footer a:focus, footer a:hover, footer a:visited { color:#fff; }
footer h2 { color: #008595;}

ul, ol { padding:0; }
li { list-style: none inside none; display: block; margin: 0 0 0.2em; }
li.sel  a { color:#fff; }

/** General */
.content { padding:1.5em; margin:0 0 1.5em; }
.dark { border:2px }
.bluehead { background:#819FF7 }
.light { background:#fff; }
.hl { color: #ee2c74; }
.buttonize { cursor:pointer; text-shadow: 1px 1px 1px #222; font-weight:bold; color:#fff; padding: 5px 1em; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; background: -webkit-gradient(linear, left top, left bottom, from(#008595), to(#02748c)); background: -moz-linear-gradient(top, #008595, #02748c); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#008595, endColorstr=#02748c); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#008595, endColorstr=#02748c)";}
.buttonize a:hover { text-decoration: none; }
.gradient { background:#fff; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea)); background: -moz-linear-gradient(top, #fff, #eaeaea); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea)"; }
.map { width: 100%; height:400px; }
.streetview { width:100%; height:300px; }
.lt { float:left; }
.rt { float:right; }
.clear { clear:both; }
.hidden { display:none; }
.txt-shadow-w { text-shadow: 1px 1px 1px #fff; }
.txt-shadow-b { text-shadow: 1px 1px 1px #222; }
.rounded { border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; }
.shadow { -moz-box-shadow: 0px 2px 4px #999; -webkit-box-shadow: 0px 2px 4px #999; box-shadow: 0px 2px 4px #999; }
.item { padding:1em; margin:0 0 2em; }

/** Benchmark */
div.benchmark { clear:both; overflow:auto; color:#fff; background: #02748c; padding: 1em; margin: 0 0 1em; }
div.benchmark .benchmark-result { display:block; font-size:18px; font-weight:bold; margin: 0 1em 0 0; line-height: 35px; }
div.benchmark .benchmark-iteration { font-weight:bold; margin:0; }
div.benchmark .benchmark-title { margin:0; }

/** Syntax highlighter */
pre.prettyprint { background:#f4f4f4; padding: 1.5em; border:none; margin: 0 0 1em; }

.summary { font-size:1.3em; cursor:pointer; color: #EE2C74; }
.ui-dialog-vevent .summary { margin:0.5em 0 0 0; display:block; }
.ui-dialog-vevent .dtstart { display:none; }
.ui-dialog-vevent .website { margin:0 0 1em; }

/** Forum */
.forum label, .forum input[type="text"] { margin: 0 1em 0 0; }
.forum label { font-weight:bold; }
.forum input[type="text"] { border:none; background:#fff; outline:none; padding:5px; width:200px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; }

#toolbar .fancybtn, #toolbar .fancybtngrey {
	width: 166px;
}
.fancybtn,.fancybtngrey {
	color: #fff!important;
	display: inline-block;
	text-align: center;
	text-decoration: none!important;
	line-height: 1.3em;
	font-size: 1.3em;
	margin-top: 10px;
	padding: 12px 12px 12px 12px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/*** Adding CSS3 Gradients ***/
	background: #aaa;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
.fancybtn:hover {
	cursor: pointer!important;
	background: #259718;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}
.fancybtn:active,.fancybtn-active {
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1A6C10), to(#259718));
	background: -moz-linear-gradient(19% 75% 90deg,#259718,#1A6C10);
}
.fancybtndisable {
	cursor: default!important;
	background: #bbbbbb!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bbb))!important;
	background: -moz-linear-gradient(19% 75% 90deg,#bbb, #eee)!important;
}
.fancybtndisable:hover {
	cursor: default!important;
	background: #bbbbbb!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bbb))!important;
	background: -moz-linear-gradient(19% 75% 90deg,#bbb, #eee)!important;
}
.fancybtndisable:active {
	background: #bbbbbb!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bbb))!important;
	background: -moz-linear-gradient(19% 75% 90deg,#bbb, #eee)!important;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4)!important;
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)!important;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)!important;
}
.fancybtngrey {
	cursor: pointer!important;
	color: black!important;
	background: #dddddd;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dddddd));
	background: -moz-linear-gradient(19% 75% 90deg,#dddddd, #fefefe);
}
.fancybtngrey:hover {
	background: #bbbbbb;
}
.fancybtngrey:active, .fancybtngrey-active {
	box-shadow: inset 0 -2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	background: #bbbbbb;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#bbbbbb))!important;
	background: -moz-linear-gradient(19% 75% 90deg,#bbbbbb, #ededed)!important;
}
.fancybtngrey a {
	color: black;
}
.fancybtngrey {
	text-align: left;
}
.fancybtngrey img {
	float: left;
	margin-right: 0.5em;
	margin-top:3px;
}
.fancybtn .arrow {
	width: 30px!important;
	display: inline-block;
	background-image: url("/images/playback_play_icon&24_w.png");
 	background-position:right center;
	background-repeat: no-repeat;
}
.fancybtnglow {
	border: 1px solid rgba(255,255,255,0.2);
	box-shadow: 0px 0px 10px rgba(255,255,255,0.4);
	-moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.4);
	-webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.4);	
}